img{
    display: inline-block;
    width: 22%;
    height: 22%;
    margin-top: -10px;
}

.primo{
    margin-top: -10px;
}
table{
    font-size: 12px;
    margin-top: 5px;
}

.titolo{
    font-size: 15px;
    margin-bottom: 1%;
}